.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.canvasContainer {
  padding-left: 10%;
  padding-right: 10%;
}

.canvasStyle {
  border: 1px solid black;
  max-width: 500px;
  margin: 0 auto; /* Centers the canvas horizontally */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
